MONGO_URI=***********# Replace with your actual MongoDB URI
PORT=3000
CLIENT_ORIGIN=http://localhost:5173/
EMAIL_USER=************# Replace with your actual email address
EMAIL_PASS=************# Replace with your actual email password
ACCESS_TOKEN_SECRET=97a36c513d9756a9d23cd8b8b404ed425ebdbea36a972fa4b1d94d70d8887212
REFRESH_TOKEN_SECRET=3ddb94ac9e7a8913f2aa4391ab10d9e1193bbbfa69b2ff00a8159405c1593b40
NODE_ENV=development